.active {
    color: #232c23;
    font-weight: bold;
    border-bottom: 3px solid #c4d2b8;
}

.layout {
    background-color: #61876E;
    height: 5vh;
}

.active:hover {
    color: #5F6665;
}

a {
    color: black;
}
